<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://storage.googleapis.com/non-spec-apps/mio-icons/latest/outline.css">

    <!-- Custom js functions -->
    <script type="text/javascript" th:src="@{/js/cssandjs/action.js}"></script>

    <title>MockAShop</title>
</head>
<body>
<div th:fragment="admin_header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" th:href="@{/}">MockAShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin_navlist"
                aria-controls="admin_navlist" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="admin_navlist">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:onclick="timetravel()" th:href="@{/seed/timetravel}">ReSeed</a>
                </li>
            </ul>
            <span class="navbar-text" th:text="${welcome}">Welcome</span>
        </div>
    </nav>
</div>
<div th:fragment="customer_header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" th:href="@{/}">MockAShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#customer_navlist"
                aria-controls="customer_navlist" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="customer_navlist">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
            </ul>
            <span class="navbar-text" th:text="${welcome}" style="padding:10px">Welcome</span>
            <a th:href="@{/cart}" style="float:right;"><i class="material-icons">shopping_cart</i></a>
        </div>
    </nav>
</div>
<div th:fragment="login_header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <a class="navbar-brand" th:href="@{/}">MockAShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#customer_navlist"
                aria-controls="customer_navlist" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>
</body>
</html>