<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Custom styles for this template -->
    <style>
        body {
            padding-top: 5rem;
        }
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <title>MockAShop</title>
    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>
<body>
<!--<div th:if="${access==1}" th:include="fragments/header :: header_admin"></div>-->
<!--<div th:if="${access==2}" th:include="fragments/header :: header_lect"></div>-->
<!--<div th:if="${access==3}" th:include="fragments/header :: header_student"></div>-->

<main role="main" class="container">


    <div class="starter-template">
        <h1>Student Registry</h1>
    </div>

    <div class="container">
<!--        <p th:text="${session.string}">UserSession.Name</p>-->
    </div>
<!--    <div th:if="${access==1}">-->
<!--        <a style="float:right;" class="btn btn-success" th:href="@{/students/add}">Add Student</a>-->
<!--    </div>-->
    <div class="container">
        <form class="form-inline my-2 my-lg-0" th:action="@{/students/list}"
              method="get">
            <input class="form-control mr-sm-2" name="name" type="text"
                   placeholder="Search Student" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="container">
        <table class="table table-striped" id="studentlist">
            <tr align="center">
                <th style="font-size:12px">ID</th>
                <th style="font-size:12px">First Name</th>
                <th style="font-size:12px">Middle Name</th>
                <th style="font-size:12px">Last Name</th>
                <th style="font-size:12px">Email</th>
                <th style="font-size:12px">Birth Date</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            <tr th:each="student:${students}" align="center">
                <td th:text=${student.studentId} style="font-size:11px">ID</td>
                <td th:text=${student.firstName} style="font-size:11px">First Name</td>
                <td th:text=${student.middleName} style="font-size:11px">Middle Name</td>
                <td th:text=${student.lastName} style="font-size:11px">Last Name</td>
                <td th:text=${student.email} style="font-size:11px">Email</td>
                <td th:text=${student.birthDate} style="font-size:10px">DOB</td>

                <td><a type="submit"
                                            th:href="@{/students/details/{id}(id=${student.studentId})}"
                                            class="btn btn-outline-dark" style="font-size:11px">Details</a></td>
                <td><a type="submit"
                                            th:href="@{/students/delete/{id}(id=${student.studentId})}"
                                            class="btn btn-outline-dark" style="font-size:11px">Delete</a></td>
            </tr>
        </table>


    </div>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>