<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head fragment -->
<head th:include="fragments/header :: head">
</head>
<body>
<!-- Header fragment -->
<div th:include="fragments/header :: login_header"></div>
<body>
<div class="container">
    <table class="table">
        <tr>
            <th colspan="2" scope="col">Log in as Customer</th>
            <th colspan="2">Login as Shop Owner</th>
        </tr>
        <tr>
            <td style="width: 15%">
                <a class="btn btn-outline-dark" th:href="@{/customer/6b83444c-5a9c-41ce-9785-53e4a582c4f9}">Login as
                    John</a>
            </td>
            <td style="width: 35%">
                Login as John and realize you already have stuff in your cart from the previous Shopping Session.
            </td>
            <td style="width: 15%">
                <a class="btn btn-outline-dark" th:href="@{/admin}">Login as Admin</a>
            </td>
            <td style="width: 35%">
                Login as the Shop Owner and have the power to add and remove products. Don't even worry if you delete
                everything, you can "turn back time" by re-seeding the data.
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn-outline-dark" th:href="@{/customer/d9f3ef82-2829-4d77-8f1b-e19c30d82bc6}">Login as
                    May</a>
            </td>
            <td>
                Login as May and start with a new Cart!
            </td>
            <td colspan="2">
                <div class="text-center">
                    <a class="btn btn-outline-info" href="https://gitlab.com/johannfza/mock-a-shop">Mock-A-Shop</a>
                    <p>For more information check out the GitLab page!</p>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>