<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head fragment -->
<head th:include="fragments/header :: head">
</head>
<body>
<!-- Header fragment -->
<div th:if="${access==1}" th:include="fragments/header :: admin_header"></div>
<div th:if="${access==2}" th:include="fragments/header :: customer_header"></div>

<main role="main" class="container">
    <div class="container">
        <div class="starter-template">
            <h1>Products</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col">
                <form class="form-inline my-2 my-lg-0" th:action="@{/products}"
                      method="get">
                    <input class="form-control mr-sm-2" name="query" type="text"
                           placeholder="Search Products" aria-label="Search"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="col text-right">
                <div th:if="${access==1}">
                    <a class="btn btn-primary" th:href="@{/products/add}">Add Products</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped" id="productlist">
            <tr align="center">
                <th style="font-size:12px">Name</th>
                <th style="font-size:12px">Description</th>
                <th style="font-size:12px">Price</th>
                <th th:if="${access==1}"></th>
                <th th:if="${access==1}"></th>
                <th th:if="${access==2}" style="font-size:12px">Qty</th>
                <th th:if="${access==2}"></th>
            </tr>
            <tr th:each="product:${products}" align="center">
                <td th:text=${product.name} style="font-size:11px">Name</td>
                <td th:text=${product.description} style="font-size:11px">Description</td>
                <td th:text=${product.price} style="font-size:11px">Price</td>

                <td th:if="${access==1}"><a type="submit"
                                            th:href="@{/products/edit/{id}(id=${product.id})}"
                                            class="btn btn-outline-dark" style="font-size:11px">Edit</a></td>
                <td th:if="${access==1}"><a type="submit"
                                            th:href="@{/products/delete/{id}(id=${product.id})}"
                                            class="btn btn-outline-dark" style="font-size:11px" th:onclick="deleteProduct()">Delete</a></td>
                <td th:if="${access==2}"><input style="font-size:12px" th:id="${product.id}" type="number" value="0" min="0" max="20" step="1"/>
                </td>
                <td th:if="${access==2}"><button th:target="${product.id}"
                                            th:onclick="addToCart(this)"
                                            class="btn btn-outline-dark" style="font-size:11px">Add to Cart</button></td>
            </tr>
        </table>
    </div>
    <input type="hidden" id="customerid" name="customerid" th:value="${customerid}">
</main>
</body>
</html>