<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head fragment -->
<head th:include="fragments/header :: head">
</head>
<body>
<!-- Header fragment -->
<div th:if="${access==1}" th:include="fragments/header :: admin_header"></div>
<div th:if="${access==2}" th:include="fragments/header :: customer_header"></div>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Product</h1>
    </div>

    <div class="container">
        <h4 th:text="${product.id != null}? 'Update Product' : 'Add New Product'">Add New Product</h4>
    </div>
    <div class="container">
        <form th:object="${product}"
              id="add-product-form" class="form-horizontal" method="post">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Name</label>
                    <input class="form-control" placeholder="Name" type="text" th:field="*{name}"/>
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Description</label>
                    <input class="form-control" placeholder="Description" type="text" th:field="*{description}"/>
                    <p th:if="${#fields.hasErrors('description')}"
                       th:errors="*{description}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>ImgUrl</label> <input
                        class="form-control" type="text" placeholder="Image Url" th:field="*{imgUrl}"/>
                    <p th:if="${#fields.hasErrors('imgUrl')}"
                       th:errors="*{{imgUrl}}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Price</label>
                    <input class="form-control" type="number" min="1" step="any" th:field="*{price}"/>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                </div>
            </div>
            <button th:text="*{id != null} ? 'Update Product' : 'Add Product'"
                    class="btn btn-success my-2 my-sm-0" type="submit" style="margin-right:20px;float:left">Add
            </button>
        </form>
        <div th:if="${access==1}">
            <a class="btn btn-outline-dark" th:href="@{/products}" style="float:left">Back to List</a>
        </div>
    </div>
</main>
</body>
</html>