<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head fragment -->
<head th:include="fragments/header :: head">
</head>
<body>
<!-- Header fragment -->
<div th:include="fragments/header :: customer_header"></div>

<main role="main" class="container">
    <div class="container">
        <div class="starter-template">
            <h1>Cart</h1>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped" id="productlist">
            <tr align="center">
                <th style="font-size:12px">Name</th>
                <th style="font-size:12px">Price</th>
                <th style="font-size:12px">Qty</th>
                <th style="font-size:12px">Subtotal</th>
                <th th:if="${cart.isEmpty()}"></th>
                <th th:if="${!cart.isEmpty()}"><a type="submit" class="btn btn-outline-secondary"
                                                  th:href="@{/cart/clearcart/{id}(id=${cart.id})}" th:onclick="clearCart()">Clear
                    Cart</a>
                </th>
            </tr>
            <tr th:if="${cart.isEmpty()}">
                <td class="text-center" colspan="4">Cart is empty</td>
            </tr>
            <tr th:each="item:${cart.items}" align="center">
                <td th:text=${item.product.name} style="font-size:11px">Name</td>
                <td th:text=${item.product.price} style="font-size:11px">Price</td>
                <td th:text="${item.qty}" style="font-size:11px"></td>
                <td th:text="${item.getSubTotal()}" style="font-size:11px"></td>
                <td><a type="submit" th:href="@{/cart/remove/{id}(id=${item.id})}" class="btn btn-outline-dark"
                       style="font-size:11px">Remove from cart</a></td>
            </tr>
        </table>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <H2 th:text="${total}">Total
                    </h2>
                </div>
                <div class="col text-right">
                    <div>
                        <a th:if="${!cart.isEmpty()}" class="btn btn-outline-secondary" th:onclick="checkOut()">Check Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>